body{
    margin: 0;
    padding: 0;
    font-family: "Stolzl Bold", Arial, sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

main video{ 
    width: 100%;
    object-fit: cover;
    height: 95vh;
    margin-top: 80px;
}


.slogan{
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.slogan h1, .slogan p
{
    font-size: 5em;
    letter-spacing: 3px;
    text-shadow: 2px 0px 0px black;
    margin: 0;
    color: white;
   
}

.slogan h1{
    overflow: hidden;
}

.slogan h2{
    margin-top: 10px;
    color: rgb(202, 3, 3);
    text-transform: uppercase;
    
}

