
#header{
    height: 5vh;
    padding: 15px 0px;
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
}

#header > #logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

#header > #logo img{
    width: 50px;
    filter: drop-shadow(1px 1px 0.75px rgba(255, 255, 255, 0.652));
}

#header > #navbar{
    width: 40%;
}

#header > #navbar ul{
    display: flex;
    justify-content: space-around;
    padding: 0;
}

#header > #navbar ul li, #header > #navbar ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
}

#header > #navbar ul li i{
    margin-right: 5px;
    color: orange;
}

#header > #navbar ul li a:hover{
    color: yellow;
}

@media(max-width: 1200px) and (min-width: 768px){
    #header{
        font-size: 0.7em;
    }

    #header > #logo{
        width: 10%;
    }

    #header > #logo img{
        width: 40px;
    }
}

@media (max-width: 768px){
    #header{
        font-size: 0.6em;
    }

    #header > #logo img{
        width: 35px;
    }

    #header > #navbar ul li{
        text-align: center;
        align-items: center;
    }

    #header > #navbar ul li i,#header > #navbar ul li a{
        display: inline-block;
    }

}