/*------------------------------    NASLOV      ------------------------------*/
main{
    padding: 0;
    margin: 0;
}

main > #naslov{
    padding: 0;
    margin: 0;
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 38vh;

    display: flex;
    align-items: center;
    justify-content: center;

    animation: 0.85s ease-in-out odGorePremaDole;
}


main > #naslov > #naslovContainer{
    width: 50%;
    margin: auto;
   
}

main > #naslov h1{
   margin: 0;
   color: white;
   text-shadow: 1px 1px 2px black;
}

@media screen and (max-width: 768px){
    main > #naslov > #naslovContainer{
        width: 70%;
    }
    main > #naslov h1{
        font-size: 1.2em;
    }
}

/*------------------------------    CONTENT      ------------------------------*/


.content{
    width: 70%;
    margin: auto;
    padding-block: 30px;
}

.naslov{
    width: 75%;
    text-align: center;
    margin: 25px auto;
    
}

.content p{
    padding: 30px 0;
    text-align: left;
    line-height: 25px;
}

/*------------------------------    SLIKE      ------------------------------*/

.img_con {
    /*WIDTH JE 621px*/
    width: 70%;
    margin: auto;
    height: fit-content;
    padding-bottom: 50px;
}

.img_con > .slike{
    display: flex;
    gap: 2%;
    margin-bottom: 30px;
}

.img_con > .slike a{
    width: 49%;
}

.img_con > .slike a img{
    opacity: 0.75;
    width: 100%;
    border-radius: 5px;
}


.img_con > .video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_con > .video video{
    width: 100%;
}

@media screen and (max-width: 1200px) and (min-width: 768px){
    main > #naslov{
        margin-top: 100px;
        padding-top: 50px;
    }
    .img_con {
        /*WIDTH JE 621px*/
        width: 90%;
        margin: auto;
        height: fit-content;
        padding-bottom: 50px;
    }
    
}

@media screen and (max-width: 768px){
    main > #naslov{
        margin-top: 75px;
        padding-top: 25px;
    }
    .img_con {
        /*WIDTH JE 621px*/
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .img_con > .slike{
        margin-bottom: 20px;
    }
    
    .img_con > .slike a{
        width: 100%;
    }
}


/*------------------------------    ANIMACIJE      ------------------------------*/

@keyframes odGorePremaDole{
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes odDolePremaGore{
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}
