#nplan-naslov{
    font-size: 2em;
    width: 50%;
    margin: auto;
    text-align: center;
}

#nplan-naslov .naslov{
    margin-top: 100px;
    animation: none;
    font-size: 1.5em;
}

#nplan-content{
    width: 80%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#unos{
    flex: 1;    
}

#nazivKolegija{
    font-weight: bold;
}

#unos input{
    margin-top: 15px;
    display: block;
    width: 80%;
    font-size: 0.8em;
    padding: 6px;
}


#tablica{
    flex: 1;
    height: 50px;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
th{
    border: 1px solid #dddddd;
}

th:nth-of-type(6){
    border-right: none;
}
th:nth-of-type(7){
    border-top: 1px solid #dddddd;;
    border-left: none;
}

td, th {
    text-align: left;
    padding: 8px;
}

.frow{
    border: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.lrow{
    border: none;
    border-top: 2px solid black;
    color: rgb(196, 44, 44);
    font-weight: bold;
}

.btn{
    padding: 6px 8px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(196, 44, 44);

}

.kolegijiID{
    opacity: 0;
}

table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
  }