body{
    height: fit-content;
}
main{
    height: 60vh;
}

#nplan-naslov{
    font-size: 2em;
    width: 50%;
    margin: auto;
    text-align: center;
}

#nplan-naslov .naslov{
    margin-top: 100px;
    animation: none;
    font-size: 1.5em;
}

#nplan-content{
    width: 80%;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#unos{
    flex: 1;   
    height: max-content; 
}

#nazivKolegija{
    font-weight: bold;
}

#unos input{
    margin-top: 15px;
    display: block;
    width: 80%;
    font-size: 0.8em;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(118, 118, 118);
}

#unos input:focus{
    outline: none;
    box-shadow: 0px 0px 5px #007FD1;
}


#tablica{
    flex: 1;
    height: fit-content;
}

table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
th{
    border: 1px solid #dddddd;
}

th:nth-of-type(6){
    border-right: none;
}
th:nth-of-type(7){
    border-top: 1px solid #dddddd;;
    border-left: none;
}

td, th {
    text-align: left;
    padding: 8px;
}

.frow{
    border: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.lrow{
    border: none;
    border-top: 2px solid black;
    color: rgb(196, 44, 44);
    font-weight: bold;
}

.btn{
    padding: 6px 8px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(196, 44, 44);

}

.kolegijiID{
    opacity: 0;
}

table tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
  }


  @media(max-width: 1200px){
      main{
          height: max-content;
      }
    #nplan-naslov {
        padding-top: 50px;
    }
    #nplan-content{
        margin-bottom: 50px;
        height: max-content;
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

  }

@media(max-width: 768px){
    #tablica table{
        font-size: .8em;
    }
}